# text and textGrid files
*.txt
*.textGrid

# excel files
*.xls
*.xlsx

# matlab
*.asv
main.asv
writeInExcel.asv
*.mat
comboDist.m
durDist.m
plotHelper.m
wdurDist.m
weightedDurDist.m
drawPlot.m
ratioDistance.m
plots/
wdist_iter100/

# directories
# **/
__pycache__